
frontend/node_modules

backend/healthsync.db
backend/__pycache__
backend/models/__pycache__
backend/routes/__pycache__
Screenshot 2025-05-15 at 4.25.44 PM.png

backend/models/Misteral
backend/models/quantized-llama-4b-skin
backend/notebooks

backend/test.env

backend/utils/.env


backend/passwords.txt
backend/models/.DS_Store

.DS_Store
frontend/.DS_Store
