
frontend/node_modules
backend/.env
backend/healthsync.db
backend/__pycache__
backend/models/__pycache__
backend/routes/__pycache__


backend/models/Misteral
backend/models/quantized-llama-4b-skin
backend/notebooks

backend/data


backend/utils/.env


backend/passwords.txt
backend/models/.DS_Store

.DS_Store
frontend/.DS_Store
