@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", "Arial", "sans-serif";
  background: #f9fafb; /* secondary */
  color: #374151; /* text */
}
